.block_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 25px 0 15px 0;
}

.text {
  color: rgba(36, 121, 215, 0.68);
}

@keyframes color-gradient {
  0% {
    color: rgba(36, 121, 215, 0.68);
  }
  50% {
    color: #f30909;
  }
  100% {
    color: rgba(36, 121, 215, 0.68);
  }
}

.height {
  animation: color-gradient 1.5s infinite alternate;
}
