.bonded {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.monikerWrapper {
  width: 250px;
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & p {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    font-size: 14px;
  }
}

.number {
  color: #646464;
}

.moniker {
  margin-right: 20px;
}

.red {
  filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  animation: shadow-flicker-red 0.4s infinite alternate;
}

.green {
  filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  animation: shadow-flicker-green 1s infinite alternate;
}

@keyframes shadow-flicker-red {
  0% {
    filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  }
  50% {
    filter: drop-shadow(0 0 1.2em rgba(234, 2, 2, 0.67));
  }
  100% {
    filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  }
}

@keyframes shadow-flicker-green {
  0% {
    filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  }
  50% {
    filter: drop-shadow(0 0 0.96em rgba(69, 241, 0, 0.67));
  }
  100% {
    filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  }
}

.greenCount {
  color: rgba(69, 241, 0, 0.67);
}

.redCount {
  color: rgba(234, 2, 2, 0.67);
}

@media (max-width: 400px) {
  .monikerWrapper {
    width: 250px;
    padding: 15px 20px 0 0;
  }

  .bonded {
    justify-content: center;
  }
}