.bonded {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.monikerWrapper {
  width: 200px;
  font-weight: 500;
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.moniker {
  margin-right: 20px;
}

.red {
  filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  animation: shadow-flicker-red 0.4s infinite alternate;
}

.green {
  filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  animation: shadow-flicker-green 1s infinite alternate;
}

@keyframes shadow-flicker-red {
  0% {
    filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  }
  50% {
    filter: drop-shadow(0 0 1.2em rgba(234, 2, 2, 0.67));
  }
  100% {
    filter: drop-shadow(0 0 1.6em rgba(234, 2, 2, 0.67));
  }
}

@keyframes shadow-flicker-green {
  0% {
    filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  }
  50% {
    filter: drop-shadow(0 0 0.96em rgba(69, 241, 0, 0.67));
  }
  100% {
    filter: drop-shadow(0 0 1.28em rgba(69, 241, 0, 0.67));
  }
}