.Header {
  display: flex;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.5s;
  &:hover {
    filter: drop-shadow(0 0 2em rgba(143, 2, 185, 0.67));
  }
}

.logo {
  height: 45px;
  margin-right: 20px;
}
.logo_text {
  font-weight: 500!important;
  background: #eeeeee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    filter: drop-shadow(0 0 5em rgba(143, 2, 185, 0.67));
  }
}

.last_height {
  margin-left: 20px;
  font-size: 25px;
  background: rgba(3, 55, 181, 0.67);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 450px) {
  .Header {
    display: flex;
    justify-content: center;
  }
}


