.tabsWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.center {
  justify-content: center;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}

@media (max-width: 450px) {
  .tabsWrapper {
    & svg {
      display: none;
    }
  }
}