.tabsWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  & button {
    color: #3f496f;
    font-weight: 500!important;
  }
}

.center {
  justify-content: center;
}

.start {
  justify-content: start;
}

.end {
  justify-content: end;
}