.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px 20px 0 20px;
  min-height: 870px;
  max-width: 1400px;
}

@media (max-width: 370px) {
  .app {
    min-height: 770px;
  }
}

@media (max-width: 400px) {
  .app {
    min-width: 320px;
  }
}
